<ion-view ng-controller="getjobsCtrl">


  <ion-header-bar class="bar-positive">
    <h1 class="title">Get Assign Jobs</h1>
  </ion-header-bar>

  <ion-content>

    ผู้บันทึก : {{assignedEmail}}
    <ion-list ng-repeat="jobsData in objID">   
      <ion-item ng-repeat="(refJobsID, jobitem) in jobsData" ng-if="jobitem.user==assignedEmail" ng-click="goPage(refJobsID,jobitem.pin,jobsData.province,jobsData.area,jobsData.operate_date,jobitem.tool,jobitem.locatRef)">
        {{jobitem.pin}} : {{jobsData.province}} | {{jobsData.area}} | {{jobsData.operate_date}}
        <!-- locatRef : {{jobitem.locatRef}} -->
      </ion-item>
    </ion-list>

  </ion-content>



</ion-view>
 