<ion-view ng-controller="operationCtrl">


  <ion-header-bar class="bar-positive">
    <h1 class="title">Operation Page</h1>
    <button id="logoutbt" ng-click="signOut()" class="button button-dark">
      Sign out
    </button>
  </ion-header-bar>



<ion-content scroll="true" style="top:0px;">

      <div class="boxInSlide" id="graphContainer">

        <ion-content style="padding-top: 44px;">
          <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 45vh; margin: 0 auto;">
            <div class="bar">
               <h2 class="title">{{GetrefJobPin}} : {{GetrefJobProv}} : {{GetrefJobArea}} : {{GetrefJobDate}}</h2>
            </div>
            <!-- <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' chart-options="graph.options" style="margin-top:50px; padding:0 1em;"></canvas> -->

              <div style="width:100%; padding:0 1em; height:100%;">
                  <canvas id="canvas" class="chart chart-line"></canvas>
              </div>

        </ion-content>

        <ion-content style="top:50vh;" on-swipe-right="goBack()" on-swipe-left="goNext('/camera')">

              <div style="padding:1em">
                <button class="button button-small button-positive" ng-click="editSlopePopup();" style="vertical-align:middle; margin-right:1em;"><i class="icon ion-edit"></i></button>       
                Slope : {{objRec.slope}}        
              </div>
              <ion-list ng-repeat="(key, PinData) in objRec" ng-show="key!='timeStamp'&&key!='jobIdRef'&&key!='slope'&&key!='graph'&&key!='diff'&&key!='note'" ng-if="toolType()=='even'?$even:true">
          <!--       One-man case or not identify -->
                <ion-item ng-if="GetrefJobTool!='Water-level'"> 
                    <button class="button button-small button-positive" ng-click="editMeterPopup(key);" style="vertical-align:middle; margin-right:1em;"><i class="icon ion-edit"></i></button> 
                    {{key}} : <span ng-repeat="(keyItem, PinItem) in PinData track by $index" ng-show="$last">{{PinItem}} cm</span>
                    <button class="button button-small button-positive ion-chatbox-working button-right" ng-click="editNotePopup(key);"></button>    
                 </ion-item>
                
           <!--       Water-level case  -->
                <ion-item ng-if="GetrefJobTool=='Water-level'&&!$first">
                    <button class="button button-small button-positive" ng-click="edit2MeterPopup(key);" style="vertical-align:middle; margin-right:1em;"><i class="icon ion-edit"></i></button> 
                    {{key-2}} - {{key}} : <span ng-repeat="(keyItem, PinItem) in PinData track by $index" ng-show="$last" style="text-align: right;display: inline-block;vertical-align: text-top;width: 50%;">ไม้นำ = {{PinItem[0]}} cm<br />ไม้ตาม = {{PinItem[1]}} cm</span>
                    <button class="button button-small button-positive ion-chatbox-working button-right" ng-click="editNotePopup(key);"></button>    
                 </ion-item>

              </ion-list>

        </ion-content>  



      </div>

</ion-content>

<script id="editSlopePopup.html" type="text/ng-template"><input ng-model="editSlopeData.slopeInTxt" type="number" placeholder="Slope"></script>
<script id="editMeterPopup.html" type="text/ng-template"><input ng-model="editMeterData.meterInTxt" type="number" placeholder="Result / cm."></script>
<script id="edit2MeterPopup.html" type="text/ng-template"><input ng-model="edit2MeterData.pole1InTxt" type="number" placeholder="Pole 1 Result / cm."><input ng-model="edit2MeterData.pole2InTxt" type="number" placeholder="Pole 2 Result / cm."></script>
<script id="editNotePopup.html" type="text/ng-template"><textarea rows="4" ng-model="editNoteData.noteInTxt" type="text" placeholder="Set new note"></textarea></script> 

</ion-view>
 