<ion-view ng-controller="cameraController" >


  <ion-header-bar class="bar-positive">
    <img src="images/icon-bar.png" class="icon-bar">
    <h1 class="title">ภาพถ่าย 4 จุดสำรวจ</h1>
    <button id="logoutbt" ng-click="signOut()" class="button">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>



<ion-content scroll="true" class="has-header" data-tap-disabled="false" style="top:0px;" on-swipe-right="goBack()">

      <div class="boxInSlide" id="4imgContainer">

          <div id="show4imgs" style="width:100%; height:50vh; text-align:center; background-repeat: no-repeat; background-position: center; background-size: contain; background-color:#000;">
          </div>
          <div style="background-color: rgba(0,0,0,0.5);">
              <i class="ion-camera" style="font-size: 3em; margin-top: -1em; display: block; color: #fff; text-align: center;"  ng-click="btnCamera()"></i>
          </div>

          <div style="padding:0.5em; text-align: center;">
            <span style="display: inline-block; width:23%; text-align: center;">
              <img id="frontImg" style="width:100%; height:auto;" ng-click="btnPreview('front')">
              หน้า
            </span>
            <span style="display: inline-block; width:23%; text-align: center;">
              <img id="rightImg" style="width:100%; height:auto;" ng-click="btnPreview('right')">
              ขวา
            </span>
            <span style="display: inline-block; width:23%; text-align: center;">
              <img id="backImg" style="width:100%; height:auto;" ng-click="btnPreview('back')">
              หลัง
            </span>
            <span style="display: inline-block; width:23%; text-align: center;">
              <img id="leftImg" style="width:100%; height:auto;" ng-click="btnPreview('left')">
              ซ้าย
            </span>
            
            <!-- <img id="frontImg" style="width:24%; height:auto;" ng-click="btnCamera('front')">
            <img id="rightImg" style="width:24%; height:auto;" ng-click="btnCamera('right')">
            <img id="backImg" style="width:24%; height:auto;" ng-click="btnCamera('back')">
            <img id="leftImg" style="width:24%; height:auto;" ng-click="btnCamera('left')">   --> 

          </div>


          <button class="button button-positive button-full" ng-click="btnOtherImg()"><i class="ion-ios-camera-outline" style="font-size: 2.5em; line-height: 0;"></i> ถ่ายภาพอื่นๆ</button><br /><br />
          <!-- <button class="button button-positive button-full" ng-click="btnGallery()">Gallery</button> -->
          <!-- <button class="button button-positive button-full" ng-click="btnUpload()">Upload</button> -->
          <!-- <button class="button button-positive button-full" ng-click="viewExif()">View EXIF</button> -->

      </div>

</ion-content>

<script id="editNotePopup.html" type="text/ng-template">
  <textarea ng-model="otherImgs.note" rows="4" placeholder="บันทึกช่วยจำ" style="width:100%; padding:2%;"></textarea>
</script>

</ion-view>
 