<ion-view ng-controller="openFormCtrl" cache-view="false">


  <ion-header-bar class="bar-positive">
    <img src="images/icon-bar.png" class="icon-bar">
    <h1 class="title">งานที่ได้รับมอบหมาย</h1>
    <button id="logoutbt" ng-click="signOut()" class="button">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>

  <ion-content>

    <div style="padding:1em 1em 0 1em;"><i class="icon ion-ios-person" style="color:sandybrown;"></i> : {{assignedEmail}}</div>
    <div ng-repeat="(key, jobsData) in objID" class="list list-inset">
      <ion-item ng-repeat="(refJobsID, jobitem) in jobsData" ng-if="jobitem.user==assignedEmail" ng-click="goPage(key,refJobsID,jobitem.pin,jobsData.province,jobsData.area,jobsData.operate_date,jobitem.tool,jobitem.locatRef)">
        {{jobitem.pin}} : {{jobsData.province}} | {{jobsData.area}} | {{jobsData.operate_date}}
        <!-- locatRef : {{jobitem.locatRef}} , parent key : {{key}} -->  
      </ion-item>
    </div>
    
    <div class="container">
      <h1>Camera API</h1>
      <section class="main-content">
          <p>
              <input type="file" id="take-picture" accept="image/*">
          </p>

          <h2>Preview:</h2>
          <p>
              <img src="about:blank" alt="" id="show-picture">
          </p>

          <p id="error"></p>

      </section>
  </div>

  </ion-content>
  <ion-footer-bar class="bar-positive" style="height:47px; padding: 0;">
      <button class="button button-positive button-full" ng-click="btnEtcImg()"><i class="ion-ios-camera-outline" style="font-size: 2.5em; line-height: 0;"></i> ถ่ายภาพนอกจุดสำรวจ</button>
  </ion-footer-bar>


<script id="editNotePopup.html" type="text/ng-template">
  <textarea ng-model="etcImgs.note" rows="4" placeholder="บันทึกช่วยจำ" style="width:100%; padding:2%;"></textarea>
</script>

</ion-view>
 