<ion-view ng-controller="leaderCtrl">


  <ion-header-bar class="bar-positive">
    <img src="images/icon-bar.png" class="icon-bar">
    <h1 class="title">มอบหมายงาน</h1>
    <button id="logoutbt" ng-click="signOut()" class="button">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>


    <ion-content class="has-footer" style="padding:1em;">

      <ion-list ng-repeat="(key, group) in jobListData" show-delete="data.showDelete">

          <ion-item ng-click="toggleGroup(key, group)" ng-class="{active: isGroupShown(group)}" item="group">
            {{group.province}} : {{group.area}} : {{group.operate_date}}
          </ion-item>

          <ion-item class="item-accordion" ng-show="isGroupShown(group)||onEditGroup(key)">
            {{group.operate_date}}
            <button class="button button-small button-positive button-right" ng-click="editOperDatePopup(key);"><i class="icon ion-edit"></i></button>
          </ion-item>

          <ion-item class="item-accordion" ng-repeat="(pinkey, item) in group" ng-show="isGroupShown(group)||onEditGroup(key)" ng-if="item.pin!=null">
            {{item.pin}} ผู้บันทึก : {{item.user}}            
            <button class="button button-small button-positive button-right" ng-click="editUserPopup(key, pinkey);"><i class="icon ion-edit"></i></button><br />
            เครื่องมือที่ใช้ : {{item.tool}}
            <button class="button button-small button-positive button-right" ng-click="editToolPopup(key, pinkey);"><i class="icon ion-edit"></i></button>
          </ion-item>

      </ion-list>

    </ion-content>

		<script id="editOperDatePopup.html" type="text/ng-template">
		  	<!-- <input ng-model="editOperDateData.operateDateInTxt" type="text" placeholder="Operating Date"> -->
        <datepicker date-format="dd-MM-yyyy">
          <input ng-model="editOperDateData.operateDateInTxt" type="text" placeholder="วันที่ปฎิบัติงาน"/>
        </datepicker>
		</script>


    


    <!-- modify to sharable url -->
    <script id="editUserPopup.html" type="text/ng-template">
        <input type="text" id="queryUser" ng-model="queryUser" placeholder="ใส่อีเมล์เพื่อค้นหาอาสาสมัคร"/>
        <select style="width: 100%; padding: 0.5em;" ng-model="selectedUser.userDD">
          <option value="" disabled selected>อีเมล์สมาชิกที่ตรงกัน</option>
          <option ng-repeat="user in selectUsers | filter:queryUser" >{{user}}</option>
        </select>
    </script>






		<script id="editToolPopup.html" type="text/ng-template">
		  	<!-- <input ng-model="editToolData.toolInTxt" type="text" placeholder="Tool type"> -->
			  <label class="item item-input item-select">
			    <!-- <div class="input-label">
			      ประเภทของเครื่องมือที่ใช้
			    </div> -->
			    <select ng-model="editToolData.toolInTxt">
            <option value="" disabled selected>เลือกวิธีวัด</option>
			      <option>One-man</option>
			      <option>Water-level</option>
			    </select>
			  </label>
		</script>



</ion-view>
 