<ion-view>
	<ion-content>
		<div id="wrapper" class="list list-inset" ng-controller="manageLocationsCtrl">
			<h1>locationsCtrl{{5*3}}</h1>

			<label class="item item-input">
			    <input id="inputProvOnProv" ng-model="inputProvOnProv" type="text" placeholder="จังหวัด">
			</label>
			<label class="item item-input">
			    <input id="inputAreaOnProv" ng-model="inputAreaOnProv" type="text" placeholder="พื้นที่">
			</label>
			<label class="item item-input">
			    <input id="inputPinOnProv" ng-model="inputPinOnProv" type="text" placeholder="จุดสำรวจ">
			</label>
			<label class="item item-input">
			    <input id="inputLatOnProv" ng-model="inputLatOnProv" type="text" placeholder="Latitute">
			</label>
			<label class="item item-input">
			    <input id="inputLngOnProv" ng-model="inputLngOnProv" type="text" placeholder="Longtitute">
			</label>
			<br />
			<button id="signupbt" ng-click="signUp()" class="button button-dark">
				เพิ่มจังหวัด
			</button>

			<br /><br />

<!-- 			<ion-list ng-repeat="(key, value) in datas | groupBy: 'province'">
			  <ion-item>
			    {{key}}
			    <ion-list ng-repeat="(key, value) in value | groupBy: 'area'">
			    	<ion-item>
			    		{{key}}
			    		<ion-list ng-repeat="item in value track by $index">
			    			<ion-item>pin: {{ item.pin }} | Lat: {{item.lat}} | Lng: {{item.lng}}</ion-item>
			    		</ion-list>
			    	</ion-item>
			    </ion-list>
			  </ion-item>
			</ion-list> -->

<ul ng-repeat="(key, value) in datas | groupBy: 'province'">
  Province: {{ key }}
  <li ng-repeat="(key, value) in value | groupBy: 'area'">
    area: {{ key }}
    <ul ng-repeat="item in value">
      <li>pin: {{ item.pin }} | Lat: {{item.lat}} | Lng: {{item.lng}}</li>
    </ul>
  </li><br />
</ul>


		</div>
	</ion-content>
</ion-view>
