<ion-view>

<style>
.item {clear:both;}
.button {float:right;}
</style>

  <ion-header-bar class="bar-positive">
    <h1 class="title">จัดการพื้นที่สำรวจ</h1>
  </ion-header-bar>

<ion-content  ng-controller="manageLocationsCtrl">
<!-- <ul ng-repeat="(key, value) in data">
  <li>{{key}}</li>
</ul>   -->
<button class="button button-dark button-small" ng-click="showAddProvPopup()" style="z-index: 2;">
  <i class="material-icons">add_circle</i> เพิ่มข้อมูล
</button>

  <ion-list ng-repeat="(key, value) in data | groupBy: 'province'">
    
    <ion-item>
      {{ key }}  
        <button class="button button-dark button-small" ng-click="showEditProvPopup(key)">
          <i class="material-icons">create</i>
        </button>

      <ion-item ng-repeat="(key, value) in value | groupBy: 'area'">
        {{ key }}
          <button class="button button-dark button-small" ng-click="showEditAreaPopup(value[0].province, key)">
            <i class="material-icons">create</i>
          </button>
        <ion-item ng-repeat="item in value | orderBy:'pin'">
          {{ item.pin }}
            <button class="button button-dark button-small" ng-click="showEditPinPopup(value[$index].province, value[$index].area, item.pin)">
              <i class="material-icons">create</i>
            </button>
          <ion-item>
            Lat : {{item.lat}}
              <button class="button button-dark button-small" ng-click="showEditLatPopup(value[$index].province, value[$index].area, item.pin, item.lat)">
                <i class="material-icons">create</i>
              </button>
          </ion-item>
          <ion-item>
            Lng : {{item.lng}}
              <button class="button button-dark button-small" ng-click="showEditLngPopup(value[$index].province, value[$index].area, item.pin, item.lng)">
                <i class="material-icons">create</i>
              </button>
          </ion-item>
        </ion-item>
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>
<script id="AddProvPopup.html" type="text/ng-template">
	<input ng-model="AddProvData.provInTxt" type="text" placeholder="Add Province">
  <input ng-model="AddProvData.areaInTxt" type="text" placeholder="Add Area">
  <input ng-model="AddProvData.pinInTxt" type="text" placeholder="Add Pin">
  <input ng-model="AddProvData.latInTxt" type="text" placeholder="Add Latitude">
  <input ng-model="AddProvData.lngInTxt" type="text" placeholder="Add Longtitude">
</script>
<script id="EditProvPopup.html" type="text/ng-template">
	<input ng-model="EditProvData.provInTxt" type="text" placeholder="Edit Province">
</script>
<script id="EditAreaPopup.html" type="text/ng-template">
	<input ng-model="EditAreaData.provInTxt" type="text" placeholder="Edit Area">
</script>
<script id="EditPinPopup.html" type="text/ng-template">
	<input ng-model="EditPinData.pinInTxt" type="text" placeholder="Edit Pin">
</script>
<script id="EditLatPopup.html" type="text/ng-template">
	<input ng-model="EditLatData.pinInTxt" type="text" placeholder="Edit Latitute">
</script>
<script id="EditLngPopup.html" type="text/ng-template">
	<input ng-model="EditLngData.pinInTxt" type="text" placeholder="Edit Longtitute">
</script>  
  



</ion-view>


