<style>
input[type="text"]{margin-bottom: 3px;}
.item {clear:both;}
.button {float:right;}
</style>

<ion-view ng-controller="manageLocationsCtrl">

  <ion-header-bar class="bar-positive">
    <img src="images/icon-bar.png" class="icon-bar">
    <h1 class="title">จัดการพื้นที่สำรวจ</h1>
    <button id="logoutbt" ng-click="signOut()" class="button">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>  

<ion-content class="has-footer has-header" on-swipe-left="goNext('/managejobs')">

  <ion-list ng-repeat="(key, value) in data | groupBy: 'province'">
    
    <ion-item>

    <div style="padding: 0 0 1em 0.75em;">
      <span style="font-size: 1.2em; color: deeppink;">{{ key }}</span>  
        <button class="button button-small button-positive button-right" ng-click="showEditProvPopup(key);" style="margin-right: 1.2em;    margin-top: -0.5em;">
          <i class="icon ion-edit"></i>
        </button>
    </div>    

      <ion-item ng-repeat="(key, group) in value | groupBy: 'area'" ng-click="toggleGroup(key, group)" ng-class="{active: isGroupShown(group)}" item="group" class="item-remove-animate" style="padding: 0px;">
        <span style="display: inline-block;padding: 1em;">{{ key }}</span>
          <button class="button button-small button-positive button-right" ng-click="showEditAreaPopup(group[0].province, key);$event.stopPropagation();" style="margin: 0.75em 0;">
            <i class="icon ion-edit"></i>
          </button>
        <ion-item ng-repeat="item in group | orderBy:'pin'" class="item-accordion" ng-show="isGroupShown(group)||onEditGroup(key)" ng-click="$event.stopPropagation();">

        <div style="width:100%;">
          <div style="width:25%; display:inline-block; margin-right: 5%;">
            {{ item.pin }}       
              <button class="button button-small button-positive" ng-click="showEditPinPopup(group[$index].province, group[$index].area, item.pin)">
                <i class="icon ion-edit"></i>
              </button>
          </div><div style="width:70%; display:inline-block;"><span style="display:inline-block;width:78%;overflow: hidden;text-overflow: ellipsis;line-height: 1.5em;direction:rtl;text-align:left;">Lat : {{item.lat}}</span><button class="button button-small button-positive button-right" ng-click="showEditLatPopup(group[$index].province, group[$index].area, item.pin, item.lat)">
                  <i class="icon ion-edit"></i>
              </button>
          </div>
        </div>

        <div style="width:100%;">
          <div style="width:30%; display:inline-block;"></div><div style="width:70%; display:inline-block;">
            <span style="display:inline-block;width:78%;overflow: hidden;text-overflow: ellipsis;line-height: 1.5em;direction:rtl;text-align:left;">Lng : {{item.lng}}</span>
              <button class="button button-small button-positive button-right" ng-click="showEditLngPopup(group[$index].province, group[$index].area, item.pin, item.lng)">
                <i class="icon ion-edit"></i>
              </button>            
          </div>
        </div>
  
        </ion-item>
      </ion-item>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer-bar align-title="left" class="bar-positive">
  <div class="button-bar">
    <a class="button" ng-click="goNext('/managejobs')">
      <ion-icon name="chevron-back-sharp"></ion-icon> <ion-icon name="calendar-outline"></ion-icon>
      <!-- <span style="font-size:1.2em;">ตารางงาน</span> -->
    </a> 

    <label class="custom-file-upload button">
        <input type="file" id="take-picture" accept="image/*">
        <ion-icon name="camera-outline"></ion-icon> <ion-icon name="chevron-forward-outline"></ion-icon> <ion-icon name="earth-outline"></ion-icon>
    </label>

    <a class="button" ng-click="showAddProvPopup()" style="z-index: 2;">
      <ion-icon name="add-outline"></ion-icon> <ion-icon name="location-outline"></ion-icon>
      <!-- <span style="font-size:1.2em;">เพิ่มข้อมูล</span> -->
    </a>
  </div>
</ion-footer-bar>


<script id="AddProvPopup.html" type="text/ng-template">
  

  <input ng-model="AddProvData.provInTxt" type="text" placeholder="เพิ่มจังหวัด" style="width:86%; display: inline-block;">
  <div data-tap-disabled="true" style="width:11%; display: inline-block;">
    <select style="width: 100%; padding: 0.25em;" ng-model="AddProvData.provInTxt" ng-change="filterArea();">
      <!-- <option value="" disabled selected>เลือกจังหวัด</option> -->
      <option ng-repeat="prov in queryProv | orderBy">{{prov}}</option>
    </select>
  </div>


  <input ng-model="AddProvData.areaInTxt" type="text" placeholder="เพิ่มพื้นที่" style="width:86%; display: inline-block;">
  <div data-tap-disabled="true" style="width:11%; display: inline-block;">
    <select style="width: 100%; padding: 0.25em;" ng-model="AddProvData.areaInTxt">
      <!-- <option value="" disabled selected>เลือกพื้นที่</option> -->
      <option ng-repeat="area in queryArea | orderBy">{{area}}</option>
    </select>
  </div>


  <input ng-model="AddProvData.pinInTxt" type="text" placeholder="เพิ่มจุดสำรวจ">
  <input ng-model="AddProvData.latInTxt" type="text" placeholder="เพิ่ม Latitude">
  <input ng-model="AddProvData.lngInTxt" type="text" placeholder="เพิ่ม Longtitude">
</script>


<!-- <script id="AddNewProvPopup.html" type="text/ng-template">
  <input ng-model="AddNewProvData.provInTxt" type="text" placeholder="เพิ่มจังหวัดใหม่">
</script> -->


<script id="EditProvPopup.html" type="text/ng-template">
	<input ng-model="EditProvData.provInTxt" type="text" placeholder="ชื่อจังหวัด">
</script>
<script id="EditAreaPopup.html" type="text/ng-template">
	<input ng-model="EditAreaData.provInTxt" type="text" placeholder="ชื่อพื้นที่">
</script>
<script id="EditPinPopup.html" type="text/ng-template">
	<input ng-model="EditPinData.pinInTxt" type="text" placeholder="จุดสำรวจ">
</script>
<script id="EditLatPopup.html" type="text/ng-template">
	<input ng-model="EditLatData.pinInTxt" type="text" placeholder="Latitute">
</script>
<script id="EditLngPopup.html" type="text/ng-template">
	<input ng-model="EditLngData.pinInTxt" type="text" placeholder="Longtitute">
</script>  
  



</ion-view>


