<ion-view>
<ion-content><div class="list list-inset" ng-controller="loginCtrl">
	<h1>Login{{5*3}}</h1>
	  <label class="item item-input">
	    <input id="userEmail" ng-model="userEmail" type="text" placeholder="Email">
	  </label>
	  <label class="item item-input">
	    <input id="userPass" ng-model="userPass" type="text" placeholder="Password">
	  </label><br/>
	  <button id="loginbt" ng-click="signIn()" class="button button-dark">
	    Sign in
	  </button>
	  <button id="logoutbt" ng-click="signOut()" class="button button-dark">
    	Sign out
  	  </button>
	  <button id="signupbt" ng-click="signUp()" class="button button-dark">
	    Sign up
	  </button>

	  <p ng-if="firebaseUser">Signed in user: <strong>{{ firebaseUser.email }} <br />Verified : {{ firebaseUser.emailVerified }}</strong></p>
	  <p ng-if="error">Error: <strong>{{ error.message }}</strong></p>

	</div>
	</ion-content>
</ion-view>


