<ion-view ng-controller="operationCtrl" cache-view="false">


  <ion-header-bar class="bar-positive">
    <img src="images/icon-bar.png" class="icon-bar" style="border-radius: 1em;">
    <h1 class="title">วัดและบันทึกค่า</h1>
    <button id="logoutbt" ng-click="signOut()" class="button button-clear button-primary">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </ion-header-bar>



      <div id="graphContainer" class="has-header" style="height: 100%; margin-top: 65px; box-sizing: border-box;">

          <div style="width: 100%; height: 41vh; margin: 0 auto;">
            <div class="bar">
               <!-- <h2 class="title">{{GetrefJobPin}} : {{GetrefJobProv}} : {{GetrefJobArea}} : {{GetrefJobDate}}</h2> -->
               <h2 class="title">{{GetrefJobMeta}}</h2>
            </div>
            <div id="container" style="width:100%; height:40vh; margin-top: 44px; padding-top:3em;"></div>
          </div>  
      
      <ion-content scroll="true" style="top:49vh;" on-swipe-right="goBack()" on-swipe-left="goNext('/camera')">


              <div style="padding:1em;">
                เครื่องมือที่ใช้ : {{GetrefJobTool}}
                <button class="button button-small button-positive button-right" ng-click="editToolPopup(GetrefJobID);"><i class="icon ion-edit"></i></button>
              </div>

              <div style="padding:1em;">
                <button class="button button-small button-positive button-right" ng-click="editSlopePopup();" style="margin-top:-10px;"><i class="icon ion-edit"></i></button>       
                Slope : {{objRec.slope}}        
              </div>

              <ion-list ng-repeat="(key, PinData) in objRec" ng-show="key!='timeStamp'&&key!='jobIdRef'&&key!='slope'&&key!='graph'&&key!='diff'&&key!='note'" ng-if="toolType()=='even'?$even:true">

                <!-- <ion-list ng-repeat="(key, PinData) in objRec"></ion-list> -->


          <!--       One-man case or not identify -->
                <ion-item ng-if="GetrefJobTool!='Water-level'"> 
                    <button class="button button-small button-positive ion-chatbox-working button-left" ng-click="editNotePopup(key);"></button> 
                    {{key}} : <span>{{PinData}} cm</span>

                    <button class="button button-small button-positive button-right" ng-click="editMeterPopup(key);" style="vertical-align:middle;"><i class="icon ion-edit"></i></button> 
                       
                 </ion-item>
                
           <!--       Water-level case  -->
                <ion-item ng-if="GetrefJobTool=='Water-level'&&!$first">
                    <button class="button button-small button-positive ion-chatbox-working button-left" ng-click="editNotePopup(key);"></button>
                    {{key-2}} - {{key}} : <span style="text-align: right;display: inline-block;vertical-align: text-top;width: 50%;">ไม้นำ = {{PinData[0]}} cm<br />ไม้ตาม = {{PinData[1]}} cm</span>
                    <button class="button button-small button-positive button-right" ng-click="edit2MeterPopup(key);" style="vertical-align:middle;"><i class="icon ion-edit"></i></button>   
                 </ion-item>

              </ion-list>
      </div>



      


      <div ng-click="modal.show()" style="background-color: #387ef5; color:#fff;position: fixed; bottom: 0.25em; left: calc(50% - 1.25em); font-size: 1.5em; padding: 0.5em; border-radius: 1.25em; opacity: 0.75;">
        <ion-icon name="camera-outline"></ion-icon>


      </div>



</ion-content>


<script id="takePhotosModal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-positive">
      <h1 class="title">ถ่ายรูป 4 ทิศ</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()"><ion-icon name="close-outline"></ion-icon></button>
    </ion-header-bar>
    <ion-content class="padding" style="top:0;">



      <div class="boxInSlide" id="4imgContainer">

        <div id="show4imgs" style="width:100%; height:50vh; text-align:center; background-repeat: no-repeat; background-position: center; background-size: contain; background-color:#000;">
        </div>
        <div style="background-color: rgba(256,256,256,0.8);">
            <i class="ion-camera" style="font-size: 3em; margin-top: -1em; display: block; color: #fff; text-align: center;"  ng-click="btnCamera()"></i>
        </div>

        <div style="text-align: center; background-color:#fff; padding: 0.25em;">
          <span style="display: inline-block; width:23%; text-align: center;">
            <img id="frontImg" src="https://firebasestorage.googleapis.com/v0/b/bmon-v2.appspot.com/o/bmon-img%2Fblank.jpg?alt=media&token=d01c3206-0756-4c56-9db0-3e9cd7a45e5e" style="width:100%; height:auto;" ng-click="btnPreview('front')">
            หน้า
          </span>
          <span style="display: inline-block; width:23%; text-align: center;">
            <img id="rightImg" src="https://firebasestorage.googleapis.com/v0/b/bmon-v2.appspot.com/o/bmon-img%2Fblank.jpg?alt=media&token=d01c3206-0756-4c56-9db0-3e9cd7a45e5e" style="width:100%; height:auto;" ng-click="btnPreview('right')">
            ขวา
          </span>
          <span style="display: inline-block; width:23%; text-align: center;">
            <img id="backImg" src="https://firebasestorage.googleapis.com/v0/b/bmon-v2.appspot.com/o/bmon-img%2Fblank.jpg?alt=media&token=d01c3206-0756-4c56-9db0-3e9cd7a45e5e" style="width:100%; height:auto;" ng-click="btnPreview('back')">
            หลัง
          </span>
          <span style="display: inline-block; width:23%; text-align: center;">
            <img id="leftImg" src="https://firebasestorage.googleapis.com/v0/b/bmon-v2.appspot.com/o/bmon-img%2Fblank.jpg?alt=media&token=d01c3206-0756-4c56-9db0-3e9cd7a45e5e" style="width:100%; height:auto;" ng-click="btnPreview('left')">
            ซ้าย
          </span>

        </div><br>


        <button class="button button-positive button-full" ng-click="btnOtherImg()"><i class="ion-ios-camera-outline" style="font-size: 2.5em; line-height: 0;"></i> ถ่ายภาพอื่นๆ</button><br /><br />








    </ion-content>
  </ion-modal-view>
</script>




<script id="editSlopePopup.html" type="text/ng-template"><input ng-model="editSlopeData.slopeInTxt" type="number" placeholder="ค่าความลาดชัน"></script>
<script id="editMeterPopup.html" type="text/ng-template"><input ng-model="editMeterData.meterInTxt" type="number" placeholder="ค่าที่วัดได้ (ซ.ม.)"></script>
<script id="edit2MeterPopup.html" type="text/ng-template"><input ng-model="edit2MeterData.pole1InTxt" type="number" placeholder="ค่าที่วัดได้ไม้ 1 (ซ.ม.)"><input ng-model="edit2MeterData.pole2InTxt" type="number" placeholder="ค่าที่วัดได้ไม้ 2 (ซ.ม.)"></script>
<script id="editNotePopup.html" type="text/ng-template"><textarea rows="4" ng-model="editNoteData.noteInTxt" type="text" placeholder="บันทึกช่วยจำ"></textarea></script>

<script id="editToolPopup.html" type="text/ng-template">
    <label class="item item-input item-select">
      <select ng-model="editToolData.toolInTxt">
        <option value="" disabled selected>เลือกวิธีวัด</option>
        <option>One-man</option>
        <option>Water-level</option>
      </select>
    </label>
</script> 

</ion-view>
 