<ion-view ng-controller="otherPhotoCtrl">


  <ion-header-bar class="bar-positive">
    <h1 class="title">Other Photo</h1>
  </ion-header-bar>

  <ion-pane>
    <ion-content data-tap-disabled="true" on-swipe-right="goBack()">
    <div id="otherPreview" style="width:100%; height:50vh; text-align:center; background-repeat: no-repeat; background-position: center; background-size: contain; background-color:#000;">
    </div>
    <textarea ng-model="otherImgs.note" rows="4" placeholder="บันทึกช่วยจำ" style="width:100%; padding:2%;"></textarea>
    <button class="button button-positive button-full" ng-click="btnUpload()">ส่งภาพเข้าระบบ</button>
    </ion-content>
  </ion-pane>

<!-- <script id="editSlopePopup.html" type="text/ng-template"><input ng-model="editSlopeData.slopeInTxt" type="number" placeholder="Slope"></script> -->

</ion-view>
 